In [1]:
import pandas as pd

In [2]:
data_complete = pd.read_csv("csvFiles/Main_Scooter_df.csv")

In [3]:
key_df = data_complete[["Zipcode", "Poverty Rate", "Poverty Type"]]

In [8]:
key_df = key_df.drop_duplicates(subset=['Zipcode'])
key_df.reset_index(inplace = True, drop = True)

key_df

    Zipcode  Poverty Rate Poverty Type
0   55412.0     27.616840         High
1   55418.0     12.748436          Low
2   55408.0     15.597356          Low
3   55417.0      6.230769          Low
4   55414.0     39.568475         High
5   55410.0      5.289059          Low
6   55411.0     31.316104     Downtown
7   55413.0     20.311156         High
8   55406.0     12.460208          Low
9   55401.0     14.219141     Downtown
10  55403.0     22.433973     Downtown
11  55405.0     14.252629     Downtown
12  55454.0     34.987593     Downtown
13  55430.0     17.760056          Low
14  55404.0     34.831260     Downtown
15  55407.0     20.748723         High
16  55415.0     16.801854     Downtown
17  55419.0      8.101071          Low
18  55409.0      9.746556          Low
19  55402.0     39.466667     Downtown
20  55416.0      6.105558          Low
21  55455.0      0.000000          Low
22  55422.0      9.183568          Low
23  55114.0     25.826008         High
24  55450.0      0.000000          Low
25  55421.0     13.893980          Low
26  55423.0      9.378360          Low
27  55429.0     20.156591         High

In [5]:
#Change number in IF statement to create new dataframe with new poverty rate theshold

for i in range(len(key_df)):
    
    if key_df.loc[i, "Poverty Type"] != "Downtown":
    
        if key_df.loc[i, "Poverty Rate"] > 20:
            
            key_df.loc[i, "Poverty Type"] = "High"
            
        else:
            key_df.loc[i, "Poverty Type"] = "Low"

In [6]:
data_complete = data_complete.drop(['Poverty Rate','Poverty Type'], axis=1)

new_type = pd.merge(data_complete, key_df, on = 'Zipcode',  how="left")

In [7]:
#Save new df to CSV  ------Rename file to reflect different percent----------
   # Note to avoid any issues later, use encoding="utf-8"
new_type.to_csv("csvFiles/Main_Scooter(20percent).csv", encoding="utf-8", index=False)